<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Duties</title>
</head>
<body class="bg-info">

<div class="container" layout:fragment="content">
    <div class="jumbotron">
        <h1>Your List of Duties</h1>
        <p>Click each duties upon completion</p>
    </div>
    <div class="list-group" th:each="entry:${taskMap}">
        <a th:href="@{'/duties/' + ${entry.key}}" th:method="post" class="list-group-item list-group-item-action"
           th:text="${entry.value.taskName}"></a>
    </div>
</div>
</body>
</html>